body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #300652;
}

i {
    margin-right: 7px;
}
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #300652;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album{
    background-color: #e4e4e4;
    color: black;
}

.btn-outline-secondary {
    color: #300652;
    border-color: #300652;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #300652;
    border-color: #300652;
}

.project{
    display: block;
}

.thumbnail{
    width: 100%;
    height: auto;
    display: block;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}


.content {
    background-color: #f1ebbb;
    color: black;
    height: 1000px;
}

.navbar {
    padding-top: 2rem;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 0 18px;
}

.landing {
    text-align: center;
    padding-top: 5rem;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}


.socialslink:hover {
    border: 1px solid white;
}
.socialslink{
    text-align: center;
}

.social-inner {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.rightsdiv {
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}